body {
    background-color: #456;
  }
  
  #main {
    width: 97vw;
    height: 97vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  svg {
    background-color: #AAA;
  }
  
  #tooltip {
    background-color: #0CC;
    color: #000;
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: start;
    padding: 5px;
    border-radius: 5px;
  }
  
  
  #tooltip h2 {
    font-size: 15px;
  }
  
  #tooltip p {
    font-size: 12px;
  }